standards/mits/current/native/Property-Marketing-ILS-5.0-XSD-with-CORE/MITSCustomExtension.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CustomRecords"> <!--ExtensionGroup-->
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Record" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="scope" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Record"> <!--ExtensionRecord-->
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string"/>				
				<xs:element name="Value">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="dataType" type="xs:string" use="optional"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>	
			<xs:attribute name="path" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
