tools/extractors/tests/fixtures/xsd/remote/shared.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
  <xs:complexType name="SharedLine">
    <xs:annotation>
      <xs:documentation>One line item shared across orders.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sku" type="xs:string"/>
      <xs:element name="qty" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
