tools/extractors/tests/fixtures/xsd/remote/uses-remote.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
  <xs:include schemaLocation="http://example.invalid/shared.xsd"/>

  <xs:complexType name="Order">
    <xs:annotation>
      <xs:documentation>An order placed against a Shared item.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="line" type="SharedLine" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
