tools/extractors/tests/fixtures/xsd/a/common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
  <xs:complexType name="Address">
    <xs:annotation>
      <xs:documentation>Postal address of a property.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
