tools/extractors/tests/fixtures/xsd/a/main.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
  <xs:include schemaLocation="common.xsd"/>

  <xs:complexType name="Property">
    <xs:annotation>
      <xs:documentation>A real-asset property record.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Unique identifier of the property.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address" type="Address" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Postal address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="active"/>
            <xs:enumeration value="inactive"/>
            <xs:enumeration value="archived"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tenants" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Names of current tenants.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="created" type="xs:dateTime" use="required"/>
  </xs:complexType>

  <xs:complexType name="ResidentialProperty">
    <xs:annotation>
      <xs:documentation>Property held for residential use.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Property">
        <xs:sequence>
          <xs:element name="owner_occupied" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>True when the property is owner-occupied.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
